body {
    background-color: #4d004d;
    padding :8px;
}
.top {
    background: rgb(245, 245, 239);
}
.container{
	background-color: rgb(204, 204, 179);
}
.noidung {
    padding-bottom: 8px;
    padding-top: 8px;
    background: rgb(255, 255, 255);
}